.header {
    background-color: #0d3b66;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 36px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo1 {
    height: 30px;  
    width: auto;
}

.icon1{
    gap: 10px;
    display: flex;
}

.header-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header i:hover {
    color: #00a8e8;
}

.download-btn {
    height: 100%;    
    margin-left: 20px;      
    padding: 0 20px;  
    background-color: #00B4FF;
    color: white;
    border: none;
    cursor: pointer;
}
