.container{
  display: grid;
  grid-template-columns: 3fr 1fr; /* trái to - phải nhỏ */
  gap: 20px;
  padding: 10px;
  position: relative;

  .productList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

