.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    min-height: 100vh;

    background: linear-gradient(rgba(13,59,102,0.9), rgba(13,59,102,0.9));
    background-size: cover;
    background-position: center;
    color: white;
}

.content {
    max-width: 50%;
}

.content h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.content p {
    color: #ccc;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    background: rgba(255,255,255,0.1);
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: rgba(13,59,102,0.9);
}

.banner-image img {
    width: 350px;
}